@import "http://fonts.googleapis.com/css?family=Raleway";

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#emailAddr {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}
img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
}
div#popupContact {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
}
form {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid red;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
}
p {
    margin-top:30px
}
h2 {
    background-color:#a8a8a5;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}
hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
}
input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway
}
#name {
    background-image:url(../images/name.jpg);
    background-repeat:no-repeat;
    background-position:5px 7px
}
#email {
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-position:5px 7px
}
textarea {
    background-image:url(../images/msg.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    margin-bottom:30px
}
#box {
    background-image:url(../images/msg.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:20%;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    margin-bottom:30px
}
#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:red;
    color:#fff;
    border:1px solid red;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px
}
/*span {
color:red;
font-weight:700
}*/
#popUpEmails {
    display: inline-block;
    position: absolute;
    bottom: 55vh;
    left:0;
    right:65%;
    margin-left:auto;
    margin-right:auto;
    width:6%;
    height:7%;
    border-radius:12px;
    border: none;
    background-color:red;
    color:white;
    font-size: 15px;
    font-size:100%;
    cursor:pointer;
    text-transform: uppercase;
    
}

#createLink {
    display: inline-block;
    position: absolute;
    top: 25vh;
    left:0;
    right:65%;
    margin-left:auto;
    margin-right:auto;
    width:7%;
    height:7%;
    border-radius:12px;
    border: none;
    background-color:red;
    color:white;
    font-size: 15px;
    cursor:pointer;
    text-transform: uppercase;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: red;
    color: white;
    font-size:24px;
    text-align:center;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  #msg {
    background-image:url(../images/msg.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    margin-bottom:30px;
    word-break: break-word;
}